.footer{
  background-color: var(--primary-color);
  padding:.8rem;
  color:var(--quaternary-color);
  font-size: 1rem;
}
.footer p{
  padding: 0;
  margin: 0;
}
.footer a:link, .footer a:visited, .footer a:active{
  color:var(--quaternary-color);
  text-decoration:none;
}
.footer a:hover{
  text-decoration:underline
}