.footer{
  background: linear-gradient(135deg, var(--primary-color) 0%, #ff6b6b 100%);
  padding: 1rem;
  color:var(--quaternary-color);
  font-size: 1.1rem;
  font-weight: 600;
}
.footer p{
  padding: 0;
  margin: 0;
}
.footer a:link, .footer a:visited, .footer a:active{
  color:var(--quaternary-color);
  text-decoration:none;
}
.footer a:hover{
  text-decoration:underline
}
